node_modules
dist
coverage
temp
tmp-declarations
tsdoc-metadata.json
.DS_Store
.tmp-compiled-docs
.scannerwork
.env
hass-config/.storag
hass-config/home-assistant.log.fault
hass-config/home-assistant_v2.db*
hass-config/.storage/lovelace.map
hass-config/.storage/lovelace_dashboards
hass-config/.storage/map
.env
